@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

body {
  text-align: center;
  max-width: 1300px;
  margin: 0rem auto;
  background-color: wheat;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 2.1rem;
  color: #1f2937;
  padding: 2rem 1rem;
}
#main-div {
  border-radius: 15px;
  padding: 2rem 2rem;
  margin: 5rem auto;
  background-color: #a78bfa;
  max-width: 950px;
  font-size: 1.5rem;
}
#bday-input {
  margin: 0rem auto;
  display: block;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  width: 10rem;
  border: solid black 2px;
  font-size: large;
}
#show-btn {
  cursor: pointer;
  display: block inline;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: #a78bfa;
  margin: 1rem;
  border-top-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  color: black;
}
#result {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 2rem 2rem;
  display: block;
  margin: 1rem;
}
